/*nav*/
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');
/*h2 especifico*/
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
/*h2 global*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
/*h4*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#container img {
    position: sticky;
}

/*==========================================================================================*/

#nav{
    position: sticky;
    top: 0;
    height: 8vh;
    width: 100%;
    background-color: #000000;
    transition: all 340ms;
    z-index: 20;
}

#nav img{
    position: absolute;
    top: 0;
    left: 0;
    margin: 11px;
    width: 52px;
    z-index: 30;
    cursor: pointer;
    display: none;
}

#nav ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#nav ul li a{
    list-style: none;
    text-decoration: none;
    color: gainsboro;
    font-size: 1.2rem;
    transition: 350ms all;
    font-family: 'Andada Pro', serif;
}

#nav ul li:hover{
    transform: scale(1.6);
}

#id-menu-2 {
    display: none;
}

/*==========================================================================================*/

.presentation{
    position: relative;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}

.presentation-blur{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/public/assets/images/presentation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9235;
    z-index: -1;
}

.presentation-me{
    width: max-content;
    height: 100%;
    margin: 60px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.pre-img img{
    border-radius: 15%;
}
.pre-me{
    color: #DCDCDC;
    transition: all 250ms;
}

.presentation-me .pre-me:hover{
    cursor: default;
}

.presentation-me .pre-me h2{
    font-size: 4rem;
    font-family: 'MonteCarlo', cursive;
}

.presentation-me .pre-me h4{
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    width: max-content;
    margin: 0 auto;
    padding-bottom: 5px;
    border-bottom: 2px solid #DCDCDC;
}

/*==========================================================================================*/

.about-me{
    width: 100%;
    height: 100vh;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-me .about-me-img img{
    width: 100%;
    padding: 20px;
    margin: 10px;
    border-radius: 80px;
    transition: all 350ms;
}

.about-me .about-me-text, .about-me-text-1, .text-21, .text-22{
    margin: 20px;
}

.about-me-text{
    width: 30%;
}

.about-me-text-1{
    width: 40%;
}
.text-21{
    margin-bottom: 60px;
}
.text-22{
    margin-top: 60px;
}

/*==========================================================================================*/

.skills{
    height: auto;          /*Cambiar a auto en todos los casos*/
    width: 100%;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
}

h2{
    margin: 40px 0;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.4rem;
}

.skills-container{
    display: flex;
    flex: 1 1 80%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10vh;
}

.skill-box{
    width: 350px;
    height: 450px;
    background-color: rgba(204, 152, 204, 0);
    margin: 80px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.s-box-img{
    width: 100%;
    height: 65%;
    flex: 1.5;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
}
.s-html{
    background-image: url(../assets/languajes/html.png);
}
.s-css{
    background-image: url(../assets/languajes/css.png);
}
.s-js{
    background-image: url(../assets/languajes/js.png);
}
.s-react{
    background-image: url(../assets/languajes/react.png);
}
.s-nodejs{
    background-image: url(../assets/languajes/nodejs.png);
}
.s-nodejs{
    background-image: url(../assets/languajes/nodejs.png);
}
.s-python{
    background-image: url(../assets/languajes/python.png);
}
.s-R{
    background-image: url(../assets/languajes/r.png);
}
.s-c-sharp{
    background-image: url(../assets/languajes/c-sharp.png);
}
.s-english{
    background-image: url(../assets/images/usa.png);
}
.s-germany{
    background-image: url(../assets/images/germany.png);
}
.s-nx{
    background-image: url(../assets/images/siemens.jpg);
}
.s-sw{
    background-image: url(../assets/images/sw.png);
}
.s-v{
    background-image: url(../assets/images/v.png);
}
.s-office{
    background-image: url(../assets/images/office.png);
}

.stars{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.s-box-text{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    box-shadow: 14px 15px 22px 3px rgba(0,0,0,0.54);
    -webkit-box-shadow: 14px 15px 22px 3px rgba(0,0,0,0.54);
    -moz-box-shadow: 14px 15px 22px 3px rgba(0,0,0,0.54);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.t-html{
    background-color: #E44D26;
}

.t-css{
    background-color: #1B73BA;
}
.t-js{
    background-color: #F0DB4F;
}
.t-react{
    background-color: #61DAFB;
}
.t-nodejs{
    background-color: #8BC500;
}
.t-python{
    background-color: #3670A0;
}
.t-R{
    background-color: #1D64B6;
}
.t-c-sharp{
    background-color: #9B4F97;
}
.t-germany{
    background-color: #FFDA44;
}
.t-english{
    background-color: #D80027;
}
.t-nx{
    background-color: #C01F3F;
}
.t-sw{
    background-color: #FE3C00;
}
.t-v{
    background-color: #0896D0;
}
.t-office{
    background-color: #107C41;
}



.s-box-text h3{
    padding: 5px;
    text-align: center;
}

.s-box-text p{
    padding: 10px;
}

.s-full{
    display: flex;
    justify-content: center;
}
.s-full img{
    width: 32px;
}

/*==========================================================================================*/

.portafolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(max-content + 10vh);
    margin-bottom: 10vh;
}
.portafolio h2{
    margin: 70px 0 90px 0;
}

.container-porta{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 1 70%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.porta-project{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    margin: 50px 0;
}

.bg-project{
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    filter: blur(6px);
    transition: 300ms all;
    z-index: -1;
}

.ticket{
    background-image: url(../assets/images/project/ticket.png);
}
.taskit{
    background-image: url(../assets/images/project/taskit.png);
}
.quotes{
    background-image: url(../assets/images/project/quotes.png);
}
.doge{
    background-image: url(../assets/images/project/doge.png);
}
.pre{
    background-image: url(../assets/images/project/pre.png);
}
.first-p{
    background-image: url(../assets/images/project/first-p.png);
}
.soon{
    background-image: url(../assets/images/project/soon.png);
}

.bg-project:hover, .porta-project:hover{
    z-index: 1;
    transition: 300ms all;
    transform: scale(1.2);
    filter: blur(0);
    
}
.text-project{
    color: #ffffff;
    width: max-content;
    height: max-content;
    background-color: #0000008e;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}


/*==========================================================================================*/

.end-presentation{
    height: max-content;          /*Va a variar, no 100vh*/
    width: 100%;
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.end-presentation h2{
    color: #F2F2F2F2;
}

.footer-1{
    width: 100%;
    height: 60%;
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1 1 100%;
}

.f1-social h3, .f1-contact h3{
    margin-bottom: 30px;
    text-align: center;
}

.f1-social{
    min-width: 40%;
    height: 95%;
}

.social{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.social a p{
    color: #F2F2F2;
    font-size: 18px;
}

.social img{
    width: 64px;
}

.f1-contact{
    min-width: 55%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.f-container {
    flex: 0 1 600px;
    padding: 10px;
    width: 100%;
    /* min-width: 100px; */
    padding: 40px;
}
.screen {
    width: 100%;
    min-width: 150px;
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-button.close {
    background: #ed1c6f;
}

.screen-header-button.maximize {
    background: #e8e925;
}

.screen-header-button.minimize {
    background: #74c54f;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    width: 100%;
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
}

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group textarea {
    width: 350px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #b9134f;
}

#f-text-area{
    resize: none;
    padding: 10px;
}


.footer-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    height: 10vh;
    background-color: #000000;
    color: #F2F2F2F2;
}

/*==========================================================================================*/
/*==========================================================================================*/
/*==========================================================================================*/

@media screen and (max-width: 1366px) {
    .pre-img img{
        transform: scale(0.8);
        transition: all 250ms;
    }
    .pre-me{
        transform: scale(0.7);
        transition: all 250ms;
    }

    .about-me{
        width: 100%;
        height: max-content;
        flex-direction: column;
        justify-content: center;
    }

    .about-me-img{
        padding: 0 120px;
    }
}

@media screen and (max-width: 768px) {

    #id-menu-2 {
        width: 32px;
        position: sticky;
        top: 10px;
        left: 0;
        width: 52px;
        z-index: 10;
        cursor: pointer;
        display: block;
        margin: 11px;
    }

    #nav img {
        display: block;
        position: absolute;
    }
    #nav {
        width: 70%;
        height: 100vh;
        margin-top: -100vh;
        transition: all 340ms;
        background-color: rgba(0, 0, 0, .95845);
    }
    #nav ul {
        width: 100%;
        flex-direction: column;
    }

    #nav ul li{
        padding: 0 10px;
        border-bottom: 2px solid #f2f2f2;
    
    }

    #nav ul li a{
        margin: 5px;
    }

    .active{
        transform: translateX(-550px);
    }

    .presentation{
        margin-top: -10vh;
        padding-bottom: 20vh;
    }

    .about-me-img img{
        width: 320px !important;
        transition: all 350ms;
    }
    
    .screen-body{
        display: flex;
        flex-direction: column;
    }

    .app-form-group textarea {
        padding: 5px;
    }

}

@media screen and (max-width: 540px){
    .app-form-group textarea {
        width: 95%;
    }
}